body{
color: white;
background-color: black ;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
font-variant: small-caps;
text-decoration-line: underline;
text-align: justify;
text-decoration-color: pink;


}